* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(0, 0, 35);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li {
    text-decoration: none;
    color: white;
}

nav ul li :hover {
    color: lavender;
    font-size: 1.04;
}

.left {
    font-size: 1.5rem;
}

.fistsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80 px 0;
    margin: 70px 0;

}

.fistsection>div {
    width: 30%;
}

.leftsection {
    font-size: 3rem;
    margin: 70px 0;

}

.leftsection .buttons {
    padding: 20px;
}

.leftsection .btn {
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: progress;
}

.rightsection img {
    width: 80%;
}

.purple {
    color: rgb(170, 107, 228);
}

.text-gray {
    color: gray;
}

#element {
    color: rgb(170, 107, 228);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 90vh;
}

.secondsection h1 {
    font-size: 1.5rem;
}

.secondsection .box {
    background: white;
    width: 70vw;
    height: 2px;
    margin: 69px 0;
    display: flex;
}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

.image-top {
    width: 2.3rem;
    position: relative;
    top: -38px;
    left: -15px;
}

.vertical-tital {
    position: relative;
    top: 75px;
    width: 150px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 10px;
}

footer {
    background-color: #9393a2;
    color: black;
    height: 250px;
}

/* .footer {
    display: flex;
    padding: 23px 122px;
} */

.footer-first h3{
    padding: 3rem;
}

.footer-second{
    display: flex;
    justify-content: space-evenly;
}

.footer-second a {
    letter-spacing: 1px;
    margin-left: 22px;
    margin-right: 22px;
}

footer .footer-rights {
    text-align: center;
    position: relative;
    top: 26%;
}


.text-gray {
    color: gray;
    margin-top: 1rem;
    display: blok;
    display: block;
}

h1 {
    font-size: 3rem;
}

.footer a{
    color: black;
}

 @media screen and (max-width:768px) {
.right{
    display: none;
}

.rightsection{
    display: none;
}

.fistsection>div {
    width: 74%;
    text-align: center;
    text-align: justify;
}

.secondsection h1 {
    font-size: 1.5rem;
    font-size: 3rem;
    padding-top: 25px;
}

.secondsection{
    height: 122vh;
}

.secondsection .box {
    background: none;
    width: 0;
    height: 0;
    margin: 69px 0;
    display: grid;
}

img{display: none;}

.vertical{display: flex;
justify-content: space-around;}

.secondsection .vertical {
    height: auto;
    width: auto;
    background-color: transparent;
    margin: 0 0;
    margin-bottom: 7rem;
}

.vertical-tital {
    position: relative;
    top: 75px;
    width: 152px;
    padding: 12px;
}

footer{
    height: 35vh;
}
 }